@model VetClinic.Intranet.Models.Staff.Employee

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeSurname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeSurname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeePosition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeePosition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeEducation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeEducation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeBio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeBio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeePhotoURL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeePhotoURL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeIsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeIsActive)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.EmployeeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
