@model IEnumerable<VetClinic.Intranet.Models.Staff.Employee>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeSurname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeePosition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeEducation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeBio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeePhotoURL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeIsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeSurname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeePosition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeEducation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeBio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeePhotoURL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeIsActive)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EmployeeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EmployeeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EmployeeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
