@model IEnumerable<VetClinic.Data.Data.Staff.Employee>

@{
    ViewData["Title"] = "Index";
}

<h3>Staff > Employees > Index</h3>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PositionId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeSurname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TitleId)
            </th>
            <th>
                Services
            </th>
            <th width="200">
                @Html.DisplayNameFor(model => model.EmployeeEducation)
            </th>
            <th width="500">
                @Html.DisplayNameFor(model => model.EmployeeBio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeePhoto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.EmployeeIsActive == true)
            {
                <tr style="vertical-align:middle">
                    <td>
                        @Html.DisplayFor(modelItem => item.Position.PositionName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeSurname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title.TitleAbbrev)
                    </td>
                    <td>
                        @foreach (var serviceGroup in item.EmployeeServiceGroups)
                        {
                            @(serviceGroup.ServiceGroup.ServiceGroupName ?? "")
                            <br />
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeEducation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeBio)
                    </td>
                    <td>
                        <img src="@Url.Action("GetPhoto", "Employees", new { id = item.EmployeeId })" style="width: 150px; height: 150px;" />
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.EmployeeId" class="btn btn-primary">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.EmployeeId" class="btn btn-primary">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.EmployeeId" class="btn btn-primary">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<div class="form-group">
    <a asp-action="Create" class="btn btn-primary">Create New</a>
    <a href="javascript:window.history.back();" class="btn btn-primary">Back</a>
</div>
