@model IEnumerable<VetClinic.Data.Data.Staff.Employee>

@{
    ViewData["Title"] = "Index";
}

<h3>Staff > Employees > Index</h3>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeTitleId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeSurname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeePositionId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeEducation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeBio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeePhotoURL)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.EmployeeIsActive == true)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeSurname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeTitleId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeePositionId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeEducation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeBio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeePhotoURL)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.EmployeeId" class="btn btn-primary">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.EmployeeId" class="btn btn-primary">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.EmployeeId" class="btn btn-primary">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<div class="form-group">
    <a asp-action="Create" class="btn btn-primary">Create New</a>
    <a href="javascript:window.history.back();" class="btn btn-primary">Back</a>
</div>
