@model IEnumerable<VetClinic.Data.Data.Clinic.Service>

@{
    ViewData["Title"] = "Index";
}

<h3>Clinic > Services > Index</h3>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ServiceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceGroup.ServiceGroupName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceGroup.ServiceGroupName)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.ServiceId" class="btn btn-primary">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ServiceId" class="btn btn-primary">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ServiceId" class="btn btn-primary">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div class="form-group">
    <a asp-action="Create" class="btn btn-primary">Create New</a>
    <a href="javascript:window.history.back();" class="btn btn-primary">Back</a>
</div>
