@model IEnumerable<VetClinic.Data.Data.CMS.Page>

@{
    ViewData["Title"] = "Index";
}

<h3>Pages > Index</h3>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LinkTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PageTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddedBy)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LinkTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PageTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddedBy)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.PageId" class="btn btn-primary">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.PageId" class="btn btn-primary">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.PageId" class="btn btn-primary">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div class="form-group">
    <a asp-action="Create" class="btn btn-primary">Create New</a>
    <a href="javascript:window.history.back();" class="btn btn-primary">Back</a>
</div>