@model VetClinic.Portal.ViewModels.ProfileViewModel

<div class="card">
    <div class="card-content" style="padding-bottom: 100px">
        <span class="card-title"><i class="material-icons left">person</i>@Model.Name @Model.Surname</span><br />
        <p><i class="material-icons left">mail</i>@Model.Email</p><br/>
        <p><i class="material-icons left">phone</i>@Model.PhoneNumber</p><br /><br />
        <p><i class="material-icons left">location_on</i>@Model.Address</p>
    </div>
</div>