@model IEnumerable<VetClinic.Data.Data.Clinic.Appointment>
<div class="dashboard-widget">
    <h3>Appointments to confirm</h3>
    <table class="dashboard-widget-table">
        <thead>
            <tr>
                <th style="width: 20%">Doctor</th>
                <th style="width: 20%">Owner</th>
                <th style="width: 15%">Pet</th>
                <th style="width: 15%">Date</th>
                <th style="width: 12%"></th>
                <th style="width: 12%"></th>
                <th style="width: 12%"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var appointment in Model)
            {
                <tr>
                    <td>@appointment.Employee.EmployeeName @appointment.Employee.EmployeeSurname</td>
                    <td>@appointment.OwnerName</td>
                    <td>@appointment.PetName</td>
                    <td>@appointment.AppointmentDateTime.AddHours(2)</td>
                    <td class="table-button-td" style="text-align: right">
                        <a asp-action="Details" asp-controller="Appointments" asp-route-id="@appointment.AppointmentId" class="btn btn-secondary">
                            Details
                        </a>
                    </td>
                    <td class="table-button-td">
                        <a asp-action="ConfirmAppointment" asp-controller="Appointments" asp-route-id="@appointment.AppointmentId" class="btn btn-primary">
                            Confirm
                        </a>
                    </td>
                    <td class="table-button-td">
                        <a asp-action="Delete" asp-controller="Appointments" asp-route-id="@appointment.AppointmentId" class="btn btn-danger">Cancel</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

