@model VetClinic.Data.Data.Clinic.ServiceGroup

@{
    ViewData["Title"] = "Details";
}

<h3>Clinic > Services > Details</h3>
<hr />
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceGroupName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServiceGroupName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceGroupDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServiceGroupDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceGroupIsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServiceGroupIsActive)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ServiceGroupId" class="btn btn-primary">Edit</a>
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>
